export COMPOSE_PROJECT_NAME=cicd-toolbox
export argos_service_jwt=Z2LcVpgCuGtpb5rBDNIIWGe8RXqYGWDpWFjWhYQUS2Z8rjE2/GTJlu0s6BRYG0Mn0kV8StC9cFE83Jkl68RCkw==
export postgres_user=netcicd
export postgres_password=netcicd
export gitea_db_user=gitea
export gitea_db_password=gitea
export jenkins_admin=local-admin
export jenkins_admin_password=netcicd
export jenkins_argos_password=netcicd
export jenkins_nexus_password=netcicd
export cml_user=developer
export cml_password=C1sco12345
export keycloak_db_user=keycloak
export keycloak_db_password=keycloak
export keycloak_admin=local-admin
export keycloak_admin_password=Pa55w0rd
export netbox_admin=netcicd@provider.test
export netbox_admin_password=Pa55w0rd
export netbox_db_user=netbox
export netbox_db_password=netbox
export default_user=netcicd
export default_user_password=netcicd