/gitea/data/
/jenkins/jenkins_home/
/nexus/data/
/postgres/data/
/nodered/data/
/freeipa/data/
/jupyter/workspace/
/portainer/data/
/*token
/NetCICD/
/jenkins/jenkins_home/.gitignore
keycloak_create.log
jenkins/keystore/keycloak.pem
keycloak/standalone.xml
.access^
wget-log
nexus/nexus-casc-plugin*
jenkins/keycloak-jenkins.json
argos/application.yml
geckodriver
install_log/
freeipa/ca.crt
selenium-screenshot*
geckodriver*
report.html
output.xml
log.html
output.xml
nexus/remotecontent?filepath=org%2Fsonatype%2Fnexus%2Fplugins%2Fnexus-repository-apk%2F0.0.23%2Fnexus-repository-apk-0.0.23-bundle.kar
/freeipa/certs/
freeipa/hostcerts/
keycloak/keycloak.tooling.test.*
ca.crt
jenkins/keystore/jenkins_keystore.jks
gitea/gitea.tooling.test.*
cicdtoolbox-db/docker-entrypoint-initdb-resources/root.crt
cicdtoolbox-db/docker-entrypoint-initdb-resources/server.crt
cicdtoolbox-db/docker-entrypoint-initdb-resources/server.key
nexus/nexus.p12
gitea/gitea.tooling.provider.test*
jenkins_buildnode/Dev_secret
jenkins_buildnode/Test_secret
jenkins_buildnode/Acc_secret
jenkins_buildnode/Prod_secret
jtoken.txt
jenkins/jenkins.tooling.provider.test.*
nexus/keycloak-nexus.json
grafana/grafana.monitoring.provider.test.*
jenkins/keystore/
jenkins/jenkins.p12
jenkins/import.pem
grafana/grafana.monitoring.provider.test.pem
grafana/grafana.monitoring.provider.test.key
jenkins_buildnode/agent.jar
argos/cacerts
argos-service/cacerts
jenkins_buildnode/cacerts
*.txt
*.pem
*.crt
*.csr
vault/key.txt
