/gitea/data/
/jenkins/jenkins_home/
/nexus/data/
/postgres/data/
/nodered/data/
/freeipa/data/
/jupyter/workspace/
/portainer/data/
/*token
/NetCICD/
/jenkins/jenkins_home/.gitignore
keycloak_create.log
jenkins/keystore/keycloak.pem
keycloak/standalone.xml
.access^
wget-log
nexus/keycloak-nexus.json
