{{template "base/head" .}}
<div class="page-content home" >
	<div style="background-image: url(http://gitea.tooling.test:3000/assets/bg.png) height: 100%; width: 100%;">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg"/>
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>{{.i18n.Tr "startpage.app_desc"}}</h2>
			</div>
		</div>
	</div>
	<div class="ui stackable middle very relaxed page grid">
        <h1 class="hero ui icon header">
            The CICD-toolbox uses Gitea as lightweight git service. You can use this service when logged in. Contact your manager to get access...
        </h1>
	</div>
</div>
{{template "base/footer" .}}
